$mobile: 756px;
$desktop: 1440px;
$font1: "Barlow";
$font2: "Fraunces";
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin highlightBottom($color) {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -5%;
        height: 10px;
        width: 110%;
        background: $color;
        z-index: -1;
        border-radius: 5px;

    }
}


@mixin para {
    font-size: 15px;
    line-height: 25px;
    color: grey;
}

@mixin title {
    font-size: 30px;
}